/** Элементы **/
@import "@/assets/fonts/stylesheet";
@import "@/assets/scss/elements/button";
@import "@/assets/scss/elements/links";
@import "@/assets/scss/elements/h";

/** Блоки **/
@import "@/assets/scss/blocks/loginBlock";
@import "@/assets/scss/blocks/header";
@import "@/assets/scss/blocks/intro";
@import "@/assets/scss/blocks/projects";
@import "@/assets/scss/blocks/question";
@import "@/assets/scss/blocks/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  color: #2B2B2B;
}

.row {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}