.projects {
  padding: 50px 0 50px;
}

.projects__title {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.projects__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #2B2B2B;
  margin-bottom: 40px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -18px;
  margin-right: -18px;
  justify-content: center;
}

.projects__item {
  flex: 1 0 calc(25% - 36px);
  max-width: calc(25% - 36px);
  margin-left: 18px;
  margin-right: 18px;
  background: #FFFFFF;
  border: 1px solid #DBE1E4;
  border-radius: 8px;
  min-width: 295px;
  margin-bottom: 36px;
}

.projects__img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  height: 220px;
  border-radius: 8px 8px 0 0;
  background-size: cover;
  background-position: top center;
}

.projects__looking {
  width: auto;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #3589CF;
  border-radius: 4px;
  padding: 6px 16px;

  &.active {
    svg {
    }
  }

  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3589CF;
  }

  svg {
    width: 20px;
    height: auto;
    margin-right: 8px;
  }
}

.project__body {
  padding: 16px 16px 0;
}

.project__type {
  display: inline-block;
  background: #8B4BDC;
  border-radius: 4px;
  padding: 4px 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 6px;
  margin-bottom: 6px;
}

.project__price {
  display: inline-block;
  background: #E9EEF1;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2B2B2B;
  margin-bottom: 16px;
}

.project__name {
  margin-bottom: 8px;
}

.project__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2B2B2B;
  height: 54px;
  overflow-y: hidden;
  margin-bottom: 8px;
}

.project__btn {
  background-color: #fff;
  padding: 6px 16px;
  width: unset;
  transform: translateY(50%);

  span {
    font-size: 16px;
    line-height: 20px;
  }

  img {
    width: 20px;
    height: auto;
  }
}

.projects__all {
  margin: 30px auto 0;
  max-width: 260px;
  padding: 0 24px;

  span {
    margin: 0 8px 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.project__parameters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.project__target {
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #7D7D7D;
  flex-basis: auto;

  span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2B2B2B;
  }
}

.project__progress {
  margin-top: 8px;
  background: #E9EEF1;
  border-radius: 8px;
  height: 8px;
  position: relative;

  div {
    position: absolute;
    left: 0;
    top: 0;
    background: #48B349;
    border-radius: 8px;
    display: inline-block;
    height: 100%;
  }
}

.invest {
  .project__type {
    width: 100%;
    text-align: center;
  }
}

.project__date {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #2B2B2B;
  margin-top: 8px;
}